@pink: rgba(252, 218, 224, .5);

.authentic {
    background-color: green;
    height: 100%;
    width: 100%;
    background-color:@pink;
    border-radius: 5px;
    .login-box {
        background-color: grey;
        display: fixed;
        top: 50%;
        transform: translate(0, -50%);
    }
}