@import (less) '../../map.less';

.authentic {
    background-color: @mainPink;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    .login-box {
        width: 100%;
        position: fixed;
        top: 50%;
        transform: translate(0, -50%);
        input {
            display: block;
        }
        * {
            margin: 0 auto;
        }
    }
}