.header {
    width: 100%;
    .box {
        background-color: pink;
        width: 100%;
        height: 2.5rem;
        display: flex;
        justify-content: space-around;
        .logo {
            color: #003;
            font-weight: 900;
            line-height: 2.5rem;
            font-size: 1.5rem;
        }
    }
}